[submodule "3rdparty/luckfox_pico_rkmpi_example"]
	path = 3rdparty/luckfox_pico_rkmpi_example
	url = https://github.com/LuckfoxTECH/luckfox_pico_rkmpi_example.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
